#!/bin/sh -e
#
# /etc/rc.d/tor: start/stop tor(1) daemon
#

PIDFILE=/var/run/tor/pid

case $1 in
start)
	su - tor -s /bin/sh -c '/usr/bin/tor --quiet'
	;;
stop)
	[ -f $PIDFILE ] && kill `cat $PIDFILE`
	;;
restart)
	$0 stop
	sleep 2
	$0 start
	;;
reload)
	[ -f /var/run/tor/pid ] && kill -HUP `cat $PIDFILE`
	;;
chkconf)
	su - tor -s /bin/sh -c '/usr/bin/tor --verify-config'
	;;
*)
	echo "usage: $0 [start|stop|restart|reload|chkconf]"
;;
esac

# End of file
