#!/bin/sh -e
#
# /etc/rc.d/lighttpd: start/stop lighttpd(8) daemon
#

CHROOT=/var/www/lighttpd
PIDFILE=/var/run/lighttpd.pid

case $1 in
start)
	# prepare chroot environment
	cp -Pf /dev/null $CHROOT/dev/null
	chmod 777 $CHROOT/dev/null

	/usr/sbin/lighttpd -f /etc/lighttpd.conf
	;;
stop)
	if [ -f $PIDFILE ]; then
		kill "$(cat "$PIDFILE")"
	fi
	rm -f /var/www/lighttpd/dev/null
	;;
restart)
	$0 stop
	sleep 2
	$0 start
	;;
*)
	echo "usage: $0 [start|stop|restart]"
	;;
esac

# End of file
