#!/bin/sh -e
#
# /etc/rc.d/stunnel: start/stop stunnel(8) daemon
#

PIDFILE=/var/run/stunnel/stunnel.pid
CFGFILE=/etc/stunnel.conf
CRTFILE=/etc/ssl/certs/stunnel.crt
KEYFILE=/etc/ssl/keys/stunnel.key

case $1 in
start)
	if [ ! -s $KEYFILE ] || [ ! -s $CRTFILE ]; then
		/usr/bin/mksslcert $KEYFILE $CRTFILE
	fi
	/usr/sbin/stunnel $CFGFILE
	;;
stop)
	if [ -f "$PIDFILE" ]; then
		kill "$(cat "$PIDFILE")"
	fi
	;;
restart)
	$0 stop
	sleep 2
	$0 start
	;;
*)
	echo "usage: $0 [start|stop|restart]"
	;;
esac

# End of file
