#!/bin/sh -e
#
# /etc/rc.d/openvpn: start/stop openvpn(8) daemon
#

# optional arguments to openvpn
OPTARGS="--fast-io"

# require a config name to be specified
if [ -z "$2" ]; then
	echo "Usage: $0 [start|stop|restart] <config-name>"
	exit 1
fi

CFGFILE=/etc/openvpn/${2}.conf
PIDFILE=/var/run/openvpn.${2}.pid

# check for the existence of the specified config
if [ ! -f "$CFGFILE" ]; then
	echo "Can't find config file $CFGFILE! Exiting."
	exit 2
fi

case $1 in
start)
	# check for an existing PIDFILE; this tunnel may already be running
	if [ -f "$PIDFILE" ]; then
		echo "VPN '$2' appears to be running already. "
		echo "If not, remove the stale PIDFILE file '${PIDFILE}'. Exiting."
		exit 3
	fi
	# start the specified VPN config
	echo "Starting VPN '$2'..."
	/usr/sbin/openvpn --config "$CFGFILE" --writepid "$PIDFILE" --daemon "ovpn-$2" $OPTARGS
	;;
stop)
	# check for an existing PIDFILE; this tunnel should already be running
	if [ ! -f "$PIDFILE" ]; then
		echo "VPN '$2' doesn't appear to be running. Exiting."
		exit 4
	fi
	# stop the specified VPN config
	echo "Stopping VPN '$2'..."
	kill "$(cat "$PIDFILE")"
	rm -f "$PIDFILE"
	;;
restart)
	$0 stop "$2"
	sleep 3
	$0 start "$2"
	;;
*)
	usage
	;;
esac

# End of file
